body {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  color: #04080F;
  background-color: #c4cdef;
}

a, h1, h2 {
  color: #04080F;
}

form {
  margin: 0.1em auto;
  padding: 0.1em;
  width: 400px;
  border: 1px;
}

.heading {
  font-weight: bold;
}

.page {
  margin: 0.1em auto;
  padding: 0.1em;
  width: 504px;
}

.entry {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #888;
}

input[type=text] {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 12px;
  color: #777;
  width: 200px;
}

input[type=textarea] {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 12px;
  color: #777;
  width: 200px;
}

.container {
  display: flex;
  flex-direction: row;
}

.form {
  margin: auto;
}

.left-half,
.right-half {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.form-label.dropdown {
  margin-left: 10px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input,
.form-select {
  width: 100%;
  padding: 5px;
  margin: 10px;
}

.form-select {
  width: 150px;
}

.text-box {
  border: 1px solid #04080F;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.right-half .text-box {
  margin-top: auto;
}
